<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>店舗一覧</title>
    <link rel="stylesheet" type="text/css" href="/css/table.css">
</head>
<body>
    <h1>店舗一覧</h1>
    <form th:action="@{'/access'}" method="POST" th:object="${commentForm}">
		<label>コメントしたい店舗IDを入力してください</label>
		<input type="text" id="shopId" name="shopId" th:field="*{shopId}" required>
        <button type="submit" name="action" value="/access">コメントする</button>
        <table>
            <tr>
                <th>店舗名</th>
                <th>店舗ID</th>
            </tr>
            <tr th:each="shop : ${shopList}">
                <td class="shop-info">
					<div class="shop-name">
                    <input type="text" th:value="${shop.shopName}" readonly>
					</div>
                </td>
                <td>		<div class="shop-id">
                    <input type="text" th:value="${shop.shopId}" readonly>
					</div>
                </td</td>         </tr>
        </table>
    </form>
</body>
</html>