<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>検索店名一覧</title>
</head>
<body>
	<h1>Lunch検索</h1>
	<h3>条件検索</h3>
	<form th:action="@{/shopserch}" method="post" th:object="shopForm">
	<tr th:each="shop : ${shopList}">
		<label for="shopname">店舗名　　　　　　</label>
		<input type="text" id="shopname" name="shopname" th:value="${shopForm.shopName}"><br>
		<label for="takeOut">店内orテイクアウト</label>
		<select name="example" required>
		<option value="">選択してください</option>
		<option>店内＆テイクアウト</option>
		<option>店内</option>
		<option>テイクアウト</option>
		</select><br>
		<label for="genre">ジャンル　　　　　</label>
		<select name="genre" required>
		<option value="">選択してください</option>
		<option>和食</option>
		<option>洋食</option>
		<option>中華</option>
		<option>その他</option>
		</select><br>
		<label for="distance">Ｃａｌからの距離　</label>
		<input type="text" id="distance" name="distance" th:value="${shopForm.distance}"><br>
	</tr>
	<button type="submit">検索</button>
	</form>

</body>
</html>