<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- <div th:object="${editForm}"> -->
		<label>店舗名</label>
		<span th:text="${shopName}"></span><br>
		
		<label>ジャンル</label>
		<span th:text="${genre}"></span><br>
		
		<label>電話番号</label>
		<span th:text="${phone}"></span><br>
		
		<label>テイクアウト</label>
		<span th:text="${takeOut}"></span><br>
		
		<label>距離</label>
		<span th:text="${distance}"></span><br>
		
		<label>座標X</label>
		<span th:text="${mapX}"></span><br>
		
		<label>座標Y</label>
		<span th:text="${mapY}"></span><br>
	</div>
	<form th:action="@{overrite}">
		<button type="submit">登録</button>
	</form>
</body>
</html>