<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>店舗詳細画面</title>
<link rel="stylesheet" type="text/css" th:href="@{css/specifics.css}">
</head>
	<h2>店舗詳細</h2>
		
	<div class="container">
		<div class="left-column">
			<form th:action="@{top}">
			<ul>
			<p><li><label>店舗ID:</label>
			[[${shop.shopId}]]<p></li>
			
			<p><li><label>店舗名:</label>
			[[${shop.shopName}]]</li></p>

			<p><li><label>ジャンル:</label>
			[[${shop.genre}]]</li></p>
			
			<p><li><label>電話番号:</label>
			[[${shop.phone}]]</li></p>

			<p><li><label>テイクアウトの可否:</label> 
			<tr th:if="${shop.takeOut == 2}"><td th:text="'店内飲食可'"></td></tr> 
			<tr th:if="${shop.takeOut == 3}"><td th:text="'テイクアウト可'"></td></tr></li>
			<tr th:if="${shop.takeOut == 1}"><td th:text="'店内・テイクアウト両方可'"></td></tr>

			<p><li><label>Calからの距離:</label>			
			[[${shop.distance}]][['分']]</li></p>
			</ul>
			
			<button type="submit">トップへ戻る</button>
		</form>
		</div>
		
	<div class="right-column">
	<table class="comment-list" th:each="list : ${commentList}">
	
	<h3>コメント</h3>
		<ul>
			<p><li><label>料理名:</label>
			[[${list.title}]]</li></p>
			
			<p><li><label>評価:</label>
			[[${list.evaluation}]]</li></p>
			
			<p><li><label>投稿時間:</label>
			[[${list.time}]]</li></p>
			
			<p><li><label>本文:</label>
			[[${list.text}]]</li></p>
		</ul>	
	</table>
	</div>
	</div>
</body>
</html>
