<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録情報確認</title>
</head>
<body>
	<h3>確認画面</h3>
	<form th:action="@{/preview}" method="POST" th:object="${shopForm}">
		<table border="1">
			
				<tr><th>店舗名<input type="text" th:field="*{shopName}" readonly></th></tr>
				<tr><th>ＣＡＬからの距離<input type="text" th:field="*{distance}" readonly></th></tr>
				<tr><th>ジャンル<input type="text" th:field="*{genre}" readonly></th></tr>
				<tr><th>テイクアウトの可否<input type="text" th:field="*{takeOut}" readonly></th></tr>
				<tr><th>電話番号<input type="text" th:field="*{phone}" readonly></th></tr>
				<tr><th>商品名<input type="text" th:field="*{cookingName}" readonly></th></tr>
				<tr><th>価格<input type="text" th:field="*{price}" readonly></th></tr>
				<tr><th>画像<input type="text" th:field="*{image}" readonly></th></tr>
				
			</tr>
		</table>
		<button type="submit">登録</button>
	</form>

</body>
</html>