<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録情報確認</title>
</head>
<body>
	<h3>確認画面</h3>
	<form th:action="@{/preview}" method="POST" th:object="${shopForm}">
		<table border="1">
			<tr>
				<th>店舗名</th>
				<th>ＣＡＬからの距離</th>
				<th>ジャンル</th>
				<th>テイクアウトの可否</th>
				<th>電話番号</th>
			</tr>
			<tr>	
				<th>商品名</th>
				<th>価格</th>
				<th>画像</th>
			</tr>
			<tr th:each="item,stat : ${shopList}" align="center">
				<td th:text="${item.shopId}"></td>
				<td th:text="${item.distance}"></td>
				<td th:text="${item.genre}"></td>
				<td th:text="${item.takeOut}"></td>
				<td th:text="${item.phone}"></td>
			</tr>
			<tr th:each="cook,end : ${cookingList}" align="center">
				<td th:text="${cook.cookingName}"></td>
				<td th:text="${cook.cookingPrice}"></td>
				<td th:text="${cook.image}"></td>
			</tr>
		</table>
		<button type="submit">登録</button>
	</form>

</body>
</html>