<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録画面</title>
<link rel="stylesheet" type="text/css" href="/css/register.css">
</head>
<body>
	<h3>登録画面</h3>
	<form th:action="@{/confirmation}" method="POST" enctype="multipart/form-data" th:object="${shopForm}">
		<label for="name">店舗名　　　　　　　</label>
		<input type="text" id="name" name="shopName" th:field="*{shopName}" required><br>
		<label for="phone">電話番号　　　　　　</label>
		<input type="tel" id="phone" name="phone" th:field="*{phone}"><br>
		<label for="distance">Cal からの距離(徒歩)
			<input type="number" id="distance" name="distance" th:field="*{distance}">
			分以内
		</label><br>
		<label for="genre">ジャンル　　　　　　</label>
		<select id="genre" name="genre" th:field="*{genre}">
			<option value="和食">和食</option>
			<option value="洋食">洋食</option>
			<option value="中華">中華</option>
			<option value="韓国料理">韓国料理</option>
			<option value="その他">その他</option>
		</select><br>
		<label for="takeOut">テイクアウトの可否　</label>
		<select id="takeOut" name="takeOut" th:field="*{takeOut}">
			<option value=0>１～３で選んでください</option>
			<option value=1>1.両方可能</option>
			<option value=2>2.店内飲食のみ</option>
			<option value=3>3.テイクアウトのみ</option>
		</select><br>
		<label for="cookingName">商品名　　　　　　　</label>
		<input type="text" id="cookingName" name="cookingName" th:field="*{cookingName}"><br>
		<label for="price">価格　　　　　　　　</label>
		<input type="number" id="price" name="price" th:field="*{price}"><br>
		<label for="image">商品画像添付（任意）</label><br>
		<input type="file" name="image"><br>
		<button type="submit" name="action" value="map">MAP位置登録</button>
		<button type="submit" name="action" value="confirmation">確認画面へ</button>
	</form>
</body>
</html>