@charset "UTF-8";
/* style.css */

/* ページ全体のスタイル */
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #FFE8D6;
  padding: 20px;
  text-align: center;
  background-image: url('../image/lunch.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 50%;
}

/* タイトルのスタイル */
h1 {
  color: #333;
  font-size: 36px;
  margin-bottom: 30px;
}

/* ボタンのスタイル */
button {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* ボタンのマウスオーバー時のスタイル */
button:hover {
  background-color: #0056b3;
}

/* ボタンのマージン */
form {
  margin-bottom: 20px;
}