<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>店舗詳細</h3><h4>店舗名　<img src="edit.jpeg"></h4>
	<table>
	<colgroup span="1" style="width:150px; background-color:#F0F8FF">
	<colgroup span="2" style="width:300px; background-color:#F0F8FF">
	<tbody>
		<tr><th>住所　　　　&emsp;</th><td></td>
		<tr><th>電話番号　　&emsp;</th><td></td>
		<tr><th>営業時間　　&emsp;</th><td></td>
		<tr><th>サービス　　&emsp;</th><td></td>
		<tr><th>ジャンル　　&emsp;</th><td></td>
		<tr><th>テイクアウト&emsp;</th><td></td>
		<tr><th>距離　　　　&emsp;</th><td></td>
	</tbody>
	</table>
</body>
</html>