<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>店舗詳細画面</title>
<link rel="stylesheet" type="text/css" th:href="@{css/detail.css}">
</head>
<body>
	<h3>店舗詳細</h3>
	
	<table th:each="shop : ${shopList}">
	<colgroup span="1" style="width:150px; background-color:rgb(255, 255, 255)">
	<colgroup span="2" style="width:300px; background-color:rgb(255, 255, 255)">
			
		<form th:action="@{input}" method="post">
			
			<tr><th>店舗ID　　　&emsp;</th><td th:text="${shop.shopId}"></td></tr>
			<input type="hidden" name="id" th:value="${shop.shopId}">
		
			<tr><th>店舗名　　　&emsp;</th><td th:text="${shop.shopName}"></td></tr>
			<input type="hidden" name="name"th:value="${shop.shopName}">

			<tr><th>ジャンル　　&emsp;</th><td th:text="${shop.genre}"></td></tr>
			<input type="hidden" name="genre" th:value="${shop.genre}">
	
			<tr><th>電話番号　　&emsp;</th><td th:text="${shop.phone}"></td></tr>
			<input type="hidden" name="phone" th:value="${shop.phone}">
			
			<tr th:if="${shop.takeOut == 1}"><th>テイクアウト&emsp;</th><td th:text="'店内・テイクアウト両方可'"></td></tr>
			<tr th:if="${shop.takeOut == 2}"><th>テイクアウト&emsp;</th><td th:text="'店内飲食可'"></td></tr>
			<tr th:if="${shop.takeOut == 3}"><th>テイクアウト&emsp;</th><td th:text="'テイクアウト可'"></td></tr>

			
			<input type="hidden" name="takeOut"th:value="${shop.takeOut}">
	
			<tr><th>距離　　　　&emsp;</th><td th:text="${shop.distance+'分'}"></td></tr><br>
			<input type="hidden" name="distance" th:value="${shop.distance}">

			<hr>
			<button type="submit">編集</button>
			
			</form>
			
			<form th:action="@{specifics}" method="post">
				<input type="hidden" name="shopId" th:value="${shop.shopId}">
				<input type="hidden" name="shopName"th:value="${shop.shopName}">
				<input type="hidden" name="genre" th:value="${shop.genre}">
				<input type="hidden" name="phone" th:value="${shop.phone}">
				<input type="hidden" name="takeOut"th:value="${shop.takeOut}">
				<input type="hidden" name="distance" th:value="${shop.distance}">
				&nbsp;&nbsp;&nbsp;<button type="submit">この店の詳細</button>
		</form>
	</table>
</body>
</html>