<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>店舗詳細画面</title>
<link rel="stylesheet" type="text/css" href="/css/detail.css">
</head>
	<h3>店舗詳細</h3><img th:src="${imagePath}" alt="Image Description"><br>

	<h4>店舗名</h4>
	<form th:action="@{input}" method="post">
		
		<p><label>店舗ID</label>
		[[${shop.shopId}"]]</p>
		
		<p><label>店舗名</label>
		[[${shop.shopName}]]</p>
		
		<p><label>ジャンル</label>
		[[${shop.genre}]]</p>
		
		<p><label>電話番号</label>
		[[${shop.phone}]]</p>
		
		<p><label>テイクアウト</label>
		[[${shop.takeOut}]]</p>
		
		<p><label>距離</label>
		[[${shop.distanceS}]]</p>
		<button type="submit">編集</button>
	</tbody>
	</table></form>
</body>
</html>